@import 'mary-bsky-components.scss';
@import 'typography-slim.scss';

/* Reset */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

:root {
    --default-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Microsoft YaHei Light', sans-serif;
    --font-monospace: 'Source Code Pro', monospace;
}

body[vanilla-css], .va-font {
    font-family: var(--va-font-family);
}
